<ion-view view-title="Info" button="edit">
    <ion-content class="padding info">
        <ion-list>
            <ion-item class="card padding">
                <h1 class="dark">Informationen</h1>
                <p class="no-wrap"><strong>Hallo Kollegen,</strong><br><br>
                    Diese <strong class="positive">Material-App</strong> soll es euch vereinfachen die <strong  class="positive">Material-Anforderungslisten</strong>
                    zu verwalten und bei Bedarf dann wegzuschicken ohne ein Blatt Papier und den Stift anzufassen.</p>
                <hr>
                <p class="no-wrap">Ihr könnt neue Listen uneingeschränkt anlegen.<br>
                    Durch das <strong class="positive">anklicken</strong> einer Liste wechselt ihr in die <strong class="positive">Einzelansicht</strong>
                    und könnt das Material darin erfassen.<br>
                    Durch <strong class="positive">Schieben</strong> einer bereits angelegten Liste nach links habt ihr die Möglichkeit
                    diese Liste zu <strong class="positive">löschen</strong>.<br>
                    Analog dazu funktioniert dasselbe in der Einzelansicht mit den einzelnen Materialien.</p>
                <hr>
                <p class="no-wrap">Zum Versenden einer Liste ist erst ein <strong class="positive">Login</strong> und das vornehmen
                    einiger Einstellungen über das <strong class="positive">Zahnrad-Symbol</strong> nötig.<br>
                <strong class="assertive">Wichtig!!!</strong> Ohne diese Einstellungen ist kein Versand möglich.</p>
                <p class="no-wrap">Ich wünsche euch ein Produktives rumspielen. <span class="icon ion-happy-outline"></span> </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>