<ion-view view-title="Listen">
    <ion-content class="padding">
        <ion-list class="card">
            <ion-item class="item-icon-right"
                      ng-repeat="list in listen" href="#/list/{{list.id}}"
                      ng-click="getSingleList(list.id)">
                <h3 class="dark">
                    {{list.title}}
                </h3>
                <span class="badge badge-assertive">
                    {{list.mat | matQuantity }}
                </span>
                <ion-option-button class="button-assertive"
                                   ng-click="remove(list.id)">
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item>
                <form class="item item-input-inset" ng-submit="addListItems(formData.title)">
                    <label class="item-input-wrapper">
                        <input type="text" name="newList"
                               placeholder="Namen der Liste eingeben"
                               value=""
                               ng-model="formData.title"
                               ng-required="true">
                    </label>
                    <button class="button button-small button-clear button-calm"
                            type="submit"><i class="ion-checkmark-round"></i>
                    </button>
                </form>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>