<ion-view view-title="Login" button="edit">
    <ion-content class="padding">
        <div class="list card padding">
            <form id="loginForm" method="post">
                <label class="item item-input">
                    <span class="input-label">Benutzername:</span>
                    <input type="text" name="username" id="username" value="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password:</span>
                    <input type="password" name="pw" id="pw" value="">
                </label>
                <input class="button button-block button-calm" type="submit" value="Einlogen">
            </form>

            <hr>

            <p class="dark">Noch kein Account?</p>
            <a href="http://media-store.net/logon"
               class="button button-block button-calm">
                Registrieren
            </a>
        </div>
    </ion-content>
</ion-view>