/* Allgemein */
.pane {
  background-image: url('../img/tweed.png');
}

.bar .bar-positive {
  background-image: url('../img/blau-verlauf.png')!important;
  background-size: contain;
}

.bar-footer {
  height: 80px!important;
}

/*home.html*/
h1#home-title {
  font-size: 2em;
  margin-top: 3em;
}

span#clipboard {
  font-size: 8em;
  line-height: 2em;
}
